<div class="row">
	<div class="col-lg-4">
		<div class="page-title">
			<h1><%= @team.name %></h1> <small><%= @team.location %></small>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-lg-8">
	<hr> <!-- STARTOF circle widgets -->
		<div class="col-lg-2 col-lg-offset-3 col-sm-6">
			<div class="circle-tile">
				<%= link_to(root_path) do %>
					<div class="circle-tile-heading green">
						<i class="fa fa-envelope fa-fw fa-3x"></i>
					</div>
				<% end %>
				<div class="circle-tile-content green">
					<div class="circle-tile-description text-faded">
						Messages
					</div>
					<div class="circle-tile-number text-faded">
						0 New
					</div>
					<%= link_to(root_path, class: "circle-tile-footer") do %>
						More Info <i class="fa fa-chevron-circle-right"></i>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-lg-2 col-sm-6">
			<div class="circle-tile">
				<%= link_to(root_path) do %>
					<div class="circle-tile-heading orange">
						<i class="fa fa-bell fa-fw fa-3x"></i>
					</div>
				<% end %>
				<div class="circle-tile-content orange">
					<div class="circle-tile-description text-faded">
						Alerts
					</div>
					<div class="circle-tile-number text-faded">
						0 New
					</div>
					<%= link_to(root_path, class: "circle-tile-footer") do %>
						More Info <i class="fa fa-chevron-circle-right"></i>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-lg-2 col-sm-6">
			<div class="circle-tile">
				<%= link_to(root_path) do %>
					<div class="circle-tile-heading blue">
						<i class="fa fa-trophy fa-fw fa-3x"></i>
					</div>
				<% end %>
				<div class="circle-tile-content blue">
					<div class="circle-tile-description text-faded">
						Record
					</div>
					<div class="circle-tile-number text-faded">
						<%= @team.games.wins.count %> - <%= @team.games.loses.count %>
					</div>
					<%= link_to(root_path, class: "circle-tile-footer") do %>
						More Info <i class="fa fa-chevron-circle-right"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row schedule"> <!-- STARTOF Schedule -->
	<div class="col-lg-8">
		  <span class="pull-right">
		    <%= link_to "Full Schedule", team_schedule_path(@team) %>
		  </span>
		<%= week_calendar number_of_weeks: 2, events: @dashboard.schedule.events do |date, events| %>
			<%= date.strftime("%d") %>

			<% events.each do |event| %>
				<div>
					<% if event.class == Game %>
						<%= link_to "vs. #{event.opponent_name}", team_game_path(@team, event) %>
					<% else %>
						<%= link_to 'Practice', team_practice_path(@team, event) %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="dashboard-side">
	<div class="row">
		<div class="col-lg-10">
			<div class="dashboard-quick-links">
		    <%= link_to new_team_game_path(@team), class: "btn btn-default" do %>
		    	<i class="fa fa-plus"></i> Create Game
		    <% end %> 
		    <%= link_to new_team_practice_path(@team), class: "btn btn-default" do %>
		    	<i class="fa fa-plus"></i> Create Practice
		    <% end %>
		    <%= link_to new_team_event_path(@team), class: "btn btn-default" do %>
		    	<i class="fa fa-plus"></i> Create Event
		    <% end %>
		    <%= link_to(edit_team_path(@team), class: "btn btn-default") do %>
		      <i class="fa fa-pencil"></i> Edit Team
		    <% end %>
			</div>

			<div class="portlet portlet-default">
				<div class="portlet-heading">
					<div class="portlet-title">
						<h4>Current Roster</h4>
					</div>

					<div class="portlet-widgets">
						<%= link_to "View all rosters", team_team_rosters_path(@team), class: "badge" %>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="portlet-body">
					<ul class="list-unstyled">
						<% @dashboard.current_roster.includes(:user).each do |roster| %>
							<li><%= roster.user.full_name %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

	
