<h1>Edit team</h1>

<%= form_for @team do |f| %>
	<div><%= f.label :name %><br />
	<%= f.text_field :name %></div>

	<div><%= f.label :location %><br />
	<%= f.text_field :location %></div>

	<div><%= f.submit "Update team" %></div>
<% end %>

<% if current_user.id == @team.team_admin_id %>
  <h3>Delete team</h3>

  <p><%= button_to "Delete", team_path, data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>