
<div class="row">
	<div class="col-lg-12">
		<div class="page-title">
			<h1><%= current_user.full_name %>'s Dashboard</h1>
		</div>
	</div>
</div>

<% @dashboard.teams.each do |team| %>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">	
			
			<div class="portlet portlet-default">
				
				<div class="portlet-heading">
					<div class="portlet-title">
						<h4><%= team.name %></h4>

					</div>
					<div class="portlet-widgets">
						<% if current_user.is_captain?(team) %>
							<span class="badge green">Captain</span>
						<% end %>
						<span class="divider"></span>
						<a data-toggle="collapse" data-parent="#accordion" href="#portlet-<%= team.id %>">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>

				<div id="portlet-<%= team.id %>" class="panel-collapse collapse in">
					<div class="portlet-body">
									
						<div class="row"> <!-- STARTOF circle widgets -->
							<div class="col-lg-2 col-lg-offset-3 col-sm-6">
								<div class="circle-tile">
									<%= link_to(root_path) do %>
										<div class="circle-tile-heading green">
											<i class="fa fa-envelope fa-fw fa-3x"></i>
										</div>
									<% end %>
									<div class="circle-tile-content green">
										<div class="circle-tile-description text-faded">
											Messages
										</div>
										<div class="circle-tile-number text-faded">
											0 New
										</div>
										<%= link_to(root_path, class: "circle-tile-footer") do %>
											More Info <i class="fa fa-chevron-circle-right"></i>
										<% end %>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="circle-tile">
									<%= link_to(root_path) do %>
										<div class="circle-tile-heading orange">
											<i class="fa fa-bell fa-fw fa-3x"></i>
										</div>
									<% end %>
									<div class="circle-tile-content orange">
										<div class="circle-tile-description text-faded">
											Alerts
										</div>
										<div class="circle-tile-number text-faded">
											0 New
										</div>
										<%= link_to(root_path, class: "circle-tile-footer") do %>
											More Info <i class="fa fa-chevron-circle-right"></i>
										<% end %>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="circle-tile">
									<%= link_to(root_path) do %>
										<div class="circle-tile-heading blue">
											<i class="fa fa-trophy fa-fw fa-3x"></i>
										</div>
									<% end %>
									<div class="circle-tile-content blue">
										<div class="circle-tile-description text-faded">
											Record
										</div>
										<div class="circle-tile-number text-faded">
											<%= team.games.wins.count %> - <%= team.games.loses.count %>
										</div>
										<%= link_to(root_path, class: "circle-tile-footer") do %>
											More Info <i class="fa fa-chevron-circle-right"></i>
										<% end %>
									</div>
								</div>
							</div>
						</div> <!-- ENDOF circle widgets -->

						<div class="row schedule"> <!-- STARTOF schedule widgets -->
							<div class="col-lg-8 col-lg-offset-2">
								  <span class="pull-right">
								    <%= link_to "Full Schedule", team_schedule_path(team) %>
								  </span>
								<%= week_calendar number_of_weeks: 2, events: @dashboard.team_events(team) do |date, events| %>
									<%= date.strftime("%d") %>

									<% events.each do |event| %>
										<div>
											<% if event.class == Game %>
												<%= link_to "vs. #{event.opponent_name}", team_game_path(team, event) %>
											<% else %>
												<%= link_to 'Practice', team_practice_path(team, event) %>
											<% end %>
										</div>
									<% end %>
								<% end %>
							</div>
						</div> <!-- ENDOF schedule widgets -->

					</div>
				</div>

				<div class="portlet-footer">
					<%= link_to	"Rosters", team_team_rosters_path(team) %>
					<% if current_user.is_captain?(team) %>
						<span class="portlet-quicklinks-right">
							<%= link_to "Go to team dashboard", team_dashboard_path(team) %>
						</span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
<% end %>

