<div class="account-wrapper">
  <div class="account-body">
    <h3>New Game</h3>

    <%= form_for([@team, @game], class: "form account-form") do |f| %>

      <div class="form-group">
        <%= f.label :game_date %><br>
				<%= f.date_select :game_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :opponent_name %>
				<%= f.text_field :opponent_name , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :location %><br />
				<%= f.text_field :location, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Create Game", class: "btn btn-secondary btn-block btn-lg" %>
      </div>
    <% end %>
  </div>

  <div class="account-footer">
    <%= link_to "Cancel", :back, class: "pull-right btn btn-danger btn-sm" %>
  </div>
</div>