<div class="account-wrapper">
  <div class="account-body">
    <h3>New Practice</h3>

    <%= form_for([@team, @practice], validate: :true, class: "form account-form") do |f| %>

      <div class="form-group">
        <%= f.label :practice_date %>
				<%= f.date_field :practice_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :start_time %>
        <%= f.time_field :start_time, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :end_time %>
        <%= f.time_field :end_time, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :location %>
				<%= f.text_field :location, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Create Practice", class: "btn btn-secondary btn-block btn-lg" %>
      </div>
    <% end %>
  </div>

  <div class="account-footer">
    <%= link_to "Cancel", :back, class: "pull-right btn btn-danger btn-sm" %>
  </div>
</div>