<h1>New practice</h1>

<%= form_for ([@team, @practice]) do |f| %>
	<div><%= f.label :practice_date %><br />
	<%= f.date_select :practice_date %></div>

	<div><%= f.label :location %><br />
	<%= f.text_field :location %></div>

	<div><%= f.submit "Create practice" %></div>
<% end %>