<h2>Edit Profile for <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.radio_button :is_female, true %> <%= f.label :is_female, "Female" %>
       <%= f.radio_button :is_female, false %> <%= f.label :is_female, "Male" %></div>

  <div><%= f.label :date_of_birth %><br />
  <%= f.date_select :date_of_birth %></div>

  <div><%= f.label :location %><br />
  <%= f.text_field :location %></div>

  <div><%= f.label :position %><br />
  <%= f.text_field :position %></div>

  <div><%= f.label :years_playing %><br />
  <%= f.number_field :years_playing %></div>

  <div><%= f.label :bio, "About you" %><br />
  <%= f.text_area :bio %></div>

  

  <div><%= f.submit "Update" %></div>
<% end %>

<% if current_user.sign_in_count > 1 %>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<% end %>
