<div class="account-wrapper">
  <div class="account-body">
    <h3>Edit Profile</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "form account-form") do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.radio_button :is_female, true %> <%= f.label :is_female, "Female" %>
        <%= f.radio_button :is_female, false %> <%= f.label :is_female, "Male" %>
      </div>

      <div class="form-group">
        <%= f.label :date_of_birth %>
        <%= f.date_select :date_of_birth, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :position %>
        <%= f.text_field :position, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :years_playing %>
        <%= f.number_field :years_playing, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :bio, "About you" %>
        <%= f.text_area :bio, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-secondary btn-block btn-lg" %>
      </div>
    <% end %>
  </div>

  <div class="account-footer">
    <% if current_user.sign_in_count > 1 %>
      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-md" %></p>

      <%= link_to "Back", :back %>
    <% end %>
  </div>
</div>



